<!DOCTYPE html>
<html>
<head>
	<title>BMSCE</title>
	<link rel="stylesheet" href="style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<!----START OF NAVIGATION BAR---->
<div class="navbar">

	<a href="https://bmsce.ac.in/">
		<img src="logo.png" id="logo">
	</a>
	<span id="site_name">Placement Experience</span><br>
	<span id="subs">Ask . Answer . Learn .</span>
	<!--ICONS--->
	<button class="btn" id="home"><i class="fa fa-home">Home</i></button>
	<button class="btn" id="aboutus"><i class="fa fa-none">About us</i></button>
	<button class="btn" id="user"><i class="fa fa-user"></i></button>
	<button class="btn" id="logout"><i class="fa fa-sign-out"></i></button>
</div>
<!----END OF NAVIGATION BAR---->

<!----START OF SIDE NAVBAR----->
<div class="sidenav">
	<div class="sidebutton">
		<div class="nav-name">Profile</div>

	</div>
	<div class="sidebutton">
		<div class="nav-name">Add Post</div>
	</div>
	<div class="sidebutton">
		<div class="nav-name">My Posts</div>
	</div>
	<div class="sidebutton">
		<div class="nav-name">Browse</div>
	</div>
	<div class="sidebutton">
		<div class="nav-name">Sign out</div>
	</div>
</div>

</body>
</html>